/* 	--------------------------------------------------------------
	GRID MIXIN
	--------------------------------------------------------------  */
/* 	--------------------------------------------------------------
	@ FONT FACE
	--------------------------------------------------------------  */
@font-face {
  font-family: 'liberator';
  src: url("liberator/liberator-webfont.eot");
  src: url("liberator/liberator-webfont.eot?#iefix") format("embedded-opentype"), url("liberator/liberator-webfont.woff") format("woff"), url("liberator/liberator-webfont.ttf") format("truetype"), url("liberator/liberator-webfont.svg#webfont") format("svg"); }

/* 	--------------------------------------------------------------
	GLOBAL STYLES
	--------------------------------------------------------------  */
a {
  text-decoration: none; }

* {
  padding: 0;
  margin: 0; }

body {
  opacity: 1; }

#content {
  margin: 0 auto;
  width: 972px; }

.typekit-badge {
  display: none !important; }

/* 	--------------------------------------------------------------
	HEADER ELEMENTS
	--------------------------------------------------------------  */
#vertical_rules {
  position: absolute;
  width: 971px;
  top: 29px;
  left: 50%;
  margin-left: -486px;
  z-index: -10; }

#white_cover_fade {
  position: absolute;
  top: 0px;
  left: -69px; }

#header {
  float: left;
  margin-right: 12px;
  width: 972px;
  position: fixed;
  z-index: 100;
  background: white;
  margin: 0 auto;
  float: none;
  height: 149px;
  border-bottom: 1px solid #414042; }

#bio, #listen, #classes, #contact {
  float: left;
  margin-right: 12px;
  width: 152px;
  height: 112px;
  padding: 14px 0 20px;
  margin-top: 14px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out; }
  #bio:hover, #listen:hover, #classes:hover, #contact:hover {
    -webkit-box-shadow: inset 0 7px 10px #f1f1f2;
    /*	background: $light_grey; */
    opacity: .8;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out; }

#logo {
  float: left;
  margin-right: 12px;
  width: 316px;
  padding: 20px 0;
  margin-top: -53px;
  height: 112px; }

#bio {
  margin-right: 0; }

#header_place_holder {
  margin-top: 156px;
  width: 120%;
  background: green;
  z-index: 5; }

/* 	--------------------------------------------------------------
	BIO
	--------------------------------------------------------------  */
#rule1 {
  border-bottom: 1px solid #333333;
  padding: 0px 0px;
  margin-bottom: 8px; }

#bio_header {
  float: left;
  margin-right: 12px;
  width: 644px; }

#clients_header {
  float: left;
  margin-right: 12px;
  width: 316px;
  margin-right: 0; }

.headers {
  background: #333333;
  margin-top: 10px;
  height: 50px;
  padding: 5px 0px 3px;
  margin-bottom: 17px; }
  .headers .header_nested {
    font: 15px 'liberator';
    letter-spacing: 2px;
    word-spacing: -3px;
    -webkit-font-smoothing: antialiased;
    color: #e3bd00;
    margin: 18px 24px; }

#bio_text {
  float: left;
  margin-right: 12px;
  width: 644px;
  background: #f1f1f2; }
  #bio_text #bio_text_nested {
    padding: 23px 30px 20px 25px;
    margin: 12px;
    height: 350px;
    background: white;
    font-family: "ff-tisa-web-pro",serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    line-height: 26px;
    color: #333333; }

.endorsement {
  color: #878787;
  margin-right: 24px;
  margin-top: 25px;
  font-size: 15px;
  line-height: 22px;
  font-style: italic;
  float: left;
  width: 175px;
  text-indent: -6px; }

.endorsement:nth-child(3) {
  width: 180px; }

.endorsement:nth-child(4) {
  margin-right: 0;
  width: 160px; }

#work_with_brian_btn {
  text-decoration: none;
  font-family: "alternate-gothic-no-3-d",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background: #e3bd00;
  padding: 4px 13px 2px;
  margin-left: -2px;
  margin-top: 20px;
  display: inline-block;
  -moz-box-shadow: 0 4px #a49500;
  -webkit-box-shadow: 0 4px #a49500;
  box-shadow: 0 4px #a49500;
  -webkit-transition: all .04s ease-in-out;
  -moz-transition: all .04s ease-in-out;
  transition: all .04s ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 23px; }
  #work_with_brian_btn:hover {
    background: #d8b200;
    margin-top: 24px;
    box-shadow: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
  #work_with_brian_btn:active {
    border-top-color: #e3bd00;
    background: #e3bd00; }
  #work_with_brian_btn:hover {
    bottom: 17px; }

/*	#work_with_brian_btn {
		background: $primary;
		padding: 5px 15px 3px;
		margin-left: -4px;
		margin-top: 20px;
		@include alternate_gothic;	
		@include border-radius(20px);
	} */
/* 	--------------------------------------------------------------
	CLIENT LIST
	--------------------------------------------------------------  */
#clients_text {
  float: left;
  margin-right: 12px;
  width: 316px;
  margin-right: 0;
  background: #f1f1f2; }
  #clients_text #clients_text_nested {
    padding: 23px 0px 20px 13px;
    margin: 12px;
    height: 350px;
    background: white; }

.clients_lists {
  font-family: "ff-tisa-web-pro",serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
  list-style: none;
  float: left;
  margin-right: 0px; }
  .clients_lists li:before {
    content: "·";
    margin-right: 2px; }
  .clients_lists span {
    color: #99999a;
    display: inline-block;
    text-indent: 6px;
    font-style: italic; }

#list1 {
  width: 120px;
  margin-left: 13px;
  line-height: 23px; }

#list2 {
  width: 120px;
  margin-left: 0px;
  margin-right: 0; }
  #list2 li {
    margin-bottom: 5px; }

#more_on_imdb_btn {
  text-decoration: none;
  font-family: "alternate-gothic-no-3-d",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background: #e3bd00;
  padding: 4px 13px 2px;
  margin-left: -2px;
  margin-top: 20px;
  display: inline-block;
  -moz-box-shadow: 0 4px #a49500;
  -webkit-box-shadow: 0 4px #a49500;
  box-shadow: 0 4px #a49500;
  -webkit-transition: all .04s ease-in-out;
  -moz-transition: all .04s ease-in-out;
  transition: all .04s ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 23px; }
  #more_on_imdb_btn:hover {
    background: #d8b200;
    margin-top: 24px;
    box-shadow: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
  #more_on_imdb_btn:active {
    border-top-color: #e3bd00;
    background: #e3bd00; }
  #more_on_imdb_btn:hover {
    bottom: 17px; }

/* 	--------------------------------------------------------------
	TWITTER BOX
	--------------------------------------------------------------  */
#rule2 {
  border-bottom: 1px solid #cdccce;
  padding: 10px 0px 15px;
  clear: both; }

#tweet_bird {
  float: left;
  display: inline;
  margin-left: -70px;
  margin-top: 5px;
  width: 60px;
  height: 60px;
  background: blue;
  background: url("../img/tweet_bird_sprite.gif"); }
  #tweet_bird:hover {
    background-position: 0px 60px; }

#tweets {
  margin-top: 10px;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-style: italic;
  float: left;
  margin-right: 12px;
  width: 808px;
  background: #f1f1f2;
  color: #575658; }
  #tweets #tweets_nested {
    padding: 9px 0px 19px 13px;
    margin: 12px;
    height: 8px;
    background: white; }

#tweets_nested:before {
  display: block;
  content: "";
  position: absolute;
  margin: -2px -35px;
  border-top: 10px solid transparent;
  border-right: 10px solid #f1f1f2;
  border-bottom: 10px solid transparent; }

#follow_twitter {
  float: left;
  margin-right: 12px;
  width: 152px;
  display: block;
  margin-top: 10px;
  margin-right: 0;
  background: #333333;
  font: 15px 'liberator';
  letter-spacing: 2px;
  word-spacing: -3px;
  -webkit-font-smoothing: antialiased;
  color: #e3bd00;
  font-size: 20px;
  line-height: 21px;
  height: 46px;
  padding: 7px 0; }
  #follow_twitter:hover {
    color: #333333;
    background: #e3bd00; }
  #follow_twitter p {
    margin-left: 16px; }
  #follow_twitter span {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 0px; }

#tweet_load a {
  color: #e3bd00; }
  #tweet_load a:hover {
    color: #414042; }

/* 	--------------------------------------------------------------
	TALKING HEADS
	--------------------------------------------------------------  */
#rule3, #rule4 {
  border-bottom: 1px solid #cdccce;
  padding: 5px 0px 5px;
  clear: both; }

#rule4_2 {
  border-bottom: 1px solid #cdccce;
  padding: 5px 0px 5px;
  clear: both; }

#rule3 {
  margin-bottom: 12px; }

#head1_nested {
  background: #333333;
  color: #e3bd00;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 3px; }
  #head1_nested span {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 44px; }

.head_box {
  float: left;
  margin-right: 12px;
  width: 234px;
  background: #f1f1f2;
  margin-top: 10px; }
  .head_box .head_box_nested {
    display: block;
    font: 15px 'liberator';
    letter-spacing: 2px;
    word-spacing: -3px;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 1px;
    margin: 12px;
    height: 170px;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: white; }
    .head_box .head_box_nested .project_subtitle {
      font-family: "ff-tisa-web-pro",serif;
      font-style: normal;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
      font-size: 13px;
      font-style: italic;
      letter-spacing: 0px;
      word-spacing: normal; }
    .head_box .head_box_nested p {
      margin-top: 116px;
      letter-spacing: 0px;
      word-spacing: 0px; }
    .head_box .head_box_nested:hover {
      color: #333333; }
    .head_box .head_box_nested:active {
      color: #e3bd00;
      -webkit-transition: all .4s ease-in-out; }

#head2_nested {
  background: url("../img/brians/02_head.png") no-repeat center center;
  background-color: white; }

#head3_nested {
  background: url("../img/brians/03_head.png") no-repeat center center;
  background-color: white; }

#head4_nested {
  background: url("../img/brians/04_head.png") no-repeat center center;
  background-color: white; }

#head5_nested {
  background: url("../img/brians/05_head.png") no-repeat center center;
  background-color: white; }

#head6_nested {
  background: url("../img/brians/06_head.png") no-repeat center center;
  background-color: white; }

#head7_nested {
  background: url("../img/brians/07_head.png") no-repeat center center;
  background-color: white; }

#head8_nested {
  background: url("../img/brians/08_head.png") no-repeat center center;
  background-color: white; }

#head9_nested {
  background: url("../img/brians/09_head.png") no-repeat center center;
  background-color: white; }

#head10_nested {
  background: url("../img/brians/10_head.png") no-repeat center center;
  background-color: white; }

#head11_nested {
  background: url("../img/brians/11_head.png") no-repeat center center;
  background-color: white; }

#head12_nested {
  background: url("../img/brians/12_head.png") no-repeat center center;
  background-color: white; }

#head4, #head8, #head12 {
  margin-right: 0px; }

/* 	--------------------------------------------------------------
	FULL DEMOS
	--------------------------------------------------------------  */
#rule5 {
  border-bottom: 1px solid #cdccce;
  padding: 5px 0px 5px;
  clear: both;
  margin-bottom: 5px;
  padding-top: 20px; }

#full_demos, #demo1, #demo2, #demo3, #demo4, #demo5 {
  float: left;
  margin-right: 12px;
  width: 152px; }

.demo_button_container {
@incude grid-unit(2);
  height: 65px; }

.demo_button {
  font-family: "alternate-gothic-no-3-d",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background: #e3bd00;
  padding: 4px 13px 2px;
  margin-left: -2px;
  margin-top: 20px;
  display: inline-block;
  -moz-box-shadow: 0 4px #a49500;
  -webkit-box-shadow: 0 4px #a49500;
  box-shadow: 0 4px #a49500;
  -webkit-transition: all .04s ease-in-out;
  -moz-transition: all .04s ease-in-out;
  transition: all .04s ease-in-out;
  float: left;
  margin-right: 12px;
  width: 127.4px;
  text-align: center;
  font-size: 22px; }
  .demo_button:hover {
    background: #d8b200;
    margin-top: 24px;
    box-shadow: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
  .demo_button:active {
    border-top-color: #e3bd00;
    background: #e3bd00; }

#demo5 {
  margin-right: 0px; }

/* 	--------------------------------------------------------------
	VOICE OVER WORKSHOP
	--------------------------------------------------------------  */
#rule6 {
  border-bottom: 1px solid #cdccce;
  padding: 5px 0px 5px;
  clear: both;
  margin-bottom: 12px; }

#classes_header {
  float: left;
  margin-right: 12px;
  width: 726px; }

#contact_header {
  float: left;
  margin-right: 12px;
  width: 234px;
  margin-right: 0; }

#classes_text {
  float: left;
  margin-right: 12px;
  width: 726px;
  background: #f1f1f2; }
  #classes_text #classes_text_nested {
    padding: 23px 40px 20px 25px;
    margin: 12px;
    height: 380px;
    background: white;
    font-family: "ff-tisa-web-pro",serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    line-height: 26px;
    color: #333333; }
    #classes_text #classes_text_nested #classes_text_paragraph {
      width: 345px;
      float: left; }
    #classes_text #classes_text_nested #workshop_image_container {
      margin-right: -20px;
      margin-top: 1px;
      float: right; }
    #classes_text #classes_text_nested #workshop_image {
      float: right;
      top: 0; }

#class_sign_up_btn {
  font-family: "alternate-gothic-no-3-d",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background: #e3bd00;
  padding: 4px 13px 2px;
  margin-left: -2px;
  margin-top: 20px;
  display: inline-block;
  -moz-box-shadow: 0 4px #a49500;
  -webkit-box-shadow: 0 4px #a49500;
  box-shadow: 0 4px #a49500;
  -webkit-transition: all .04s ease-in-out;
  -moz-transition: all .04s ease-in-out;
  transition: all .04s ease-in-out;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 23px; }
  #class_sign_up_btn:hover {
    background: #d8b200;
    margin-top: 24px;
    box-shadow: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
  #class_sign_up_btn:active {
    border-top-color: #e3bd00;
    background: #e3bd00; }
  #class_sign_up_btn:hover {
    bottom: 17px; }

/* 	--------------------------------------------------------------
	CONTACT FORM
	--------------------------------------------------------------  */
#contact_form_container {
  float: left;
  margin-right: 12px;
  width: 234px;
  margin-right: 0; }
  #contact_form_container .inputs {
    border: none;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #414042;
    font-size: 15px;
    font-style: italic;
    width: 222px;
    height: 38px;
    margin-bottom: 12px;
    padding: 0 6px;
    background: #f1f1f2; }
    #contact_form_container .inputs:focus {
      outline: none;
      background: #dbdbdc; }

select {
  margin-bottom: 13px; }

#message {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #414042;
  font-size: 15px;
  width: 218px;
  height: 185px;
  padding: 8px 8px;
  background: #f1f1f2;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: -5px; }
  #message:focus {
    background: #dbdbdc; }

#submit_button {
  font-family: "alternate-gothic-no-3-d",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background: #e3bd00;
  padding: 4px 13px 2px;
  margin-left: -2px;
  margin-top: 20px;
  display: inline-block;
  -moz-box-shadow: 0 4px #a49500;
  -webkit-box-shadow: 0 4px #a49500;
  box-shadow: 0 4px #a49500;
  -webkit-transition: all .04s ease-in-out;
  -moz-transition: all .04s ease-in-out;
  transition: all .04s ease-in-out;
  border: none; }
  #submit_button:hover {
    background: #d8b200;
    margin-top: 24px;
    box-shadow: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
  #submit_button:active {
    border-top-color: #e3bd00;
    background: #e3bd00; }
  #submit_button:hover {
    margin-bottom: -4px; }

#contact_info {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  padding: 0px 0;
  font-size: 14px;
  list-style: none;
  margin-top: 5px;
  color: #99989a;
  font-style: italic;
  line-height: 22px; }
  #contact_info:before {
    display: block;
    content: "";
    position: relative;
    bottom: 77px;
    left: 7px;
    margin: 0px 6px;
    border-top: 24px solid transparent;
    border-right: 24px solid white;
    border-bottom: 0px solid transparent; }
  #contact_info a {
    color: #626163; }
  #contact_info a:hover {
    color: #333333; }

#confirmation_shadow {
  -moz-box-shadow: 0 5px 10px black;
  -webkit-box-shadow: 0 5px 10px black;
  box-shadow: 0 5px 10px black;
  opacity: .05;
  float: left;
  margin-right: 12px;
  width: 644px;
  position: fixed;
  left: 50%;
  margin-left: -322px;
  top: 110px;
  z-index: 1; }

#confirmation {
  float: left;
  margin-right: 12px;
  width: 644px;
  position: fixed;
  height: 400px;
  left: 50%;
  top: -265px;
  margin-left: -322px;
  background: #f1f1f2;
  -moz-box-shadow: 0 4px 10px #a4a3a5;
  -webkit-box-shadow: 0 4px 10px #a4a3a5;
  box-shadow: 0 4px 10px #a4a3a5;
  z-index: 0;
  opacity: .99; }
  #confirmation #confirmation_nested {
    text-align: center;
    padding: 33px 40px 20px 25px;
    margin: 12px;
    height: 320px;
    background: white;
    font-family: "ff-tisa-web-pro",serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    line-height: 46px;
    color: #333333; }
    #confirmation #confirmation_nested p:first-child {
      display: block;
      margin-top: 50px; }
    #confirmation #confirmation_nested a {
      color: #e3bd00; }
      #confirmation #confirmation_nested a:hover {
        color: #414042; }
    #confirmation #confirmation_nested span {
      font-style: italic; }
    #confirmation #confirmation_nested .close_email_confirmation {
      display: block;
      font: 15px 'liberator';
      letter-spacing: 2px;
      word-spacing: -3px;
      -webkit-font-smoothing: antialiased;
      font-size: 15px;
      position: absolute;
      bottom: 70px;
      left: 50%;
      margin-left: -22px; }

#mic {
  float: left;
  margin-right: 12px;
  width: 972px;
  margin: 35px auto 59px;
  height: 50px; }

#mic img {
  display: block;
  margin: 0 auto; }

#jplayer_footer {
  height: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #131313;
  min-width: 990px; }

#jp_container_1 {
  width: 100%;
  border: none; }
  #jp_container_1 .jp-title {
    border: none;
    color: #bababb;
    width: 22.9%;
    float: left;
    background: #131313;
    border-right: 1px dashed #99999a; }
    #jp_container_1 .jp-title .jplayer_audio_name {
      display: block;
      font: 15px 'liberator';
      letter-spacing: 2px;
      word-spacing: -3px;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      padding: 9px 0 7px;
      border-bottom: 1px dashed #99999a; }
    #jp_container_1 .jp-title .jplayer_client {
      font-family: "ff-tisa-web-pro",serif;
      font-style: normal;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
      font-style: italic;
      font-size: 12px;
      letter-spacing: 0px;
      padding: 3px 0; }
  #jp_container_1 .jp-gui {
    display: inline;
    width: 77%;
    float: right;
    background: none; }
  #jp_container_1 .jp-audio, #jp_container_1 .jp-controls {
    padding: 10px 20px;
    /* background: $light_grey; */
    width: 150px; }
    #jp_container_1 .jp-audio li, #jp_container_1 .jp-controls li {
      padding: 0;
      width: 30px;
      margin: 0px 20px 0 0; }
    #jp_container_1 .jp-audio .jp-play, #jp_container_1 .jp-audio .jp-pause, #jp_container_1 .jp-controls .jp-play, #jp_container_1 .jp-controls .jp-pause {
      margin: 0px; }
      #jp_container_1 .jp-audio .jp-play:active, #jp_container_1 .jp-audio .jp-pause:active, #jp_container_1 .jp-controls .jp-play:active, #jp_container_1 .jp-controls .jp-pause:active {
        outline: none; }
    #jp_container_1 .jp-audio .jp-mute, #jp_container_1 .jp-audio .jp-unmute, #jp_container_1 .jp-audio .jp-volume-max, #jp_container_1 .jp-controls .jp-mute, #jp_container_1 .jp-controls .jp-unmute, #jp_container_1 .jp-controls .jp-volume-max {
      width: 25px;
      height: 25px;
      margin: 6px 0; }
      #jp_container_1 .jp-audio .jp-mute:active, #jp_container_1 .jp-audio .jp-unmute:active, #jp_container_1 .jp-audio .jp-volume-max:active, #jp_container_1 .jp-controls .jp-mute:active, #jp_container_1 .jp-controls .jp-unmute:active, #jp_container_1 .jp-controls .jp-volume-max:active {
        outline: none; }
    #jp_container_1 .jp-audio .jp-mute, #jp_container_1 .jp-controls .jp-mute {
      background-position: 0px -147px;
      z-index: 1200; }
      #jp_container_1 .jp-audio .jp-mute:hover, #jp_container_1 .jp-controls .jp-mute:hover {
        background-position: 0 -146px; }
    #jp_container_1 .jp-audio .jp-unmute, #jp_container_1 .jp-controls .jp-unmute {
      background-position: -57px -147px; }
      #jp_container_1 .jp-audio .jp-unmute:hover, #jp_container_1 .jp-controls .jp-unmute:hover {
        background-position: -57px -146px; }
    #jp_container_1 .jp-audio .jp-volume-max, #jp_container_1 .jp-controls .jp-volume-max {
      margin-left: 33px;
      background-position: 0px -176px; }
      #jp_container_1 .jp-audio .jp-volume-max:hover, #jp_container_1 .jp-controls .jp-volume-max:hover {
        background-position: 0 -175px; }
  #jp_container_1 .jp-volume-bar {
    margin: 0;
    position: absolute;
    left: 100px;
    top: 27px; }
  #jp_container_1 .jp-progress {
    display: block;
    position: absolute;
    left: 200px;
    top: 27px;
    height: 6px;
    width: 64%; }
  #jp_container_1 .jp-close {
    font: 15px 'liberator';
    letter-spacing: 2px;
    word-spacing: -3px;
    -webkit-font-smoothing: antialiased;
    color: #e3bd00;
    float: right;
    position: relative;
    left: -12px;
    top: -35px; }
    #jp_container_1 .jp-close:hover {
      color: #f1f1f2; }
    #jp_container_1 .jp-close:active {
      outline: none; }
